{
    "hosted_zone" : "example.com.",
    "name" : "test12",
    "type" : "A",
    "data" : {
        "primary" : {
            "alias" : {
                "evaluate_target_health" : true,
                "dns_name" : "test-east",
                "set_identifier" : "test12-PRIMARY"
            }
        },
        "secondary" : [
            {
                "alias" : {
                    "evaluate_target_health" : true,
                    "elastic_load_balancing" : {
                        "region" : "us-east-1",
                        "name" : "ELB-TEST-East"
                    },
                    "set_identifier" : null
                }
            },
            {
                "alias" : {
                    "evaluate_target_health" : true,
                    "dns_name" : "test-west-elb",
                    "set_identifier" : null
                }
            }
        ]
    }
}
